<div class="bg-dark text-light pb-5">
    <div class="container p-5">
        <h2 class="text-center">
            Mission Properties
        </h2>
        <div class="d-flex flex-column flex-md-row justify-content-around align-items-center">
            <a class="p-3" href="https://goo.gl/maps/iRqgBvNMqS22">1114 Clement Ave Charlotte, NC 28205</a>
            <a class="p-3" href="tel:+1234567890">(123) 456-7890</a>
            <a class="p-3" href="mailto:jason@missionprop.com">jason@missionprop.com</a>
        </div>
    </div>
</div>