<div class="footer-big bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="text-center">
                    <img src="assets/img/about/plaza25view.jpg" alt="map">
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="f-logo">
                    <h2>Our<br>Office</h2>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 f-inner">
                <div class="col-sm-2">
                    <i class="fa fa-map-marker fa-lg"></i>
                </div>
                <div class="col-sm-10">
                    <strong>Charlotte</strong>
                    <div class="f-space"></div>
                    <address>
                        1114 Clement Ave, Suite 100<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                        jason@missionprop.com
                    </address>
                </div>
            </div>

            <!-- Map Image -->
            <div class="col-md-3 col-sm-6">
                <div class="text-center">
                    <a href="https://www.google.com/maps/place/1114+Clement+Ave,+Charlotte,+NC+28205/@35.221259,-80.814614,17z/data=!3m1!4b1!4m2!3m1!1s0x8856a001442b5099:0x372c25394fc95c0a">
                        <img src="assets/img/about/staticmap.png" alt="map"/>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>