<nav class="navbar navbar-light navbar-expand-md fixed-top bg-white-slide-appear px-0">
    <a class="navbar-brand caps bg-white" href="#">Mission Properties</a>
    <button
        class="navbar-toggler mr-2"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavDropdown">
        <ul class="navbar-links navbar-nav bg-white">
            {% include navitem.html href="/" content="Home" %}
            {% include navitem.html href="/about" content="About" %}
            {% include navitem.html href="/projects" content="Projects" %}
            {% include navitem.html href="/leasing" content="Leasing" %}
        </ul>
    </div>
</nav>