---
---

$primary:       #0D1F61;
$secondary:     #7EC030;
$success:       #A5D6A7;
$info:          #90CAF9;
$warning:       #FFF59D;
$danger:        #EF9A9A;

$theme-colors: (
  "gray": #9E9E9E,
  "primary-light": #44468f
);

@import "bootstrap/bootstrap";
@import "navbar";
@import "footer";

html,body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.bottom-shadow {
  box-shadow: 0 0 3px #424242;
}

.bg-white-out {
  background-color: rgba(255,255,255,0.8);
}

.round-edges {
  border-radius: 3px;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.caps {
  text-transform: uppercase;
}

.bg-white-slide-appear {
  background-color: rgba(255, 255, 255, 0);

  @include media-breakpoint-down(md) {
    background-color: rgb(255, 255, 255) !important;
  }

}

.bg-landing-image {
  height: 85%;
}

.landing-carousel.carousel {
  height: 85%;

  & .carousel-inner {
    height: 100%;

    & .carousel-item {
      height: 100%;
    }

    & .bg-landing-image {
      height: 100%;
    }
  }

}

.bg-image-parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-center {
  background-position: center;
}

.bg-image-top {
  background-position: top;
}

.bg-image-bottom {
  background-position: bottom;
}

.bg-image-left {
  background-position: left;
}

.bg-image-right {
  background-position: right;
}